/* Estilos gerais */
.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
  font-family: 'Arial', sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

form {
  background-color: #ffffff; /* Fundo cinza escuro */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(139, 139, 139, 0.2);
  width: 100%;
  max-width: 400px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #cccccc; /* Texto cinza claro */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7; /* Borda cinza */
  border-radius: 5px;
  background-color: #f1f1f1; /* Fundo cinza médio */
  color: #1f1f1f; /* Texto branco */
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #999999; /* Placeholder cinza */
}

input:focus {
  border-color: #666666; /* Borda cinza mais clara ao focar */
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #676767; /* Botão cinza */
  color: #ffffff; /* Texto branco */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #666666; /* Botão cinza mais claro ao passar o mouse */
}

.message {
  margin-top: 20px;
  font-size: 14px;
  color: #cccccc; /* Texto cinza claro */
  text-align: center;
}